@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC CRUD</h1>
    <div class="panel" style="padding:10px;">
        <p class="lead">This is a simple demo of CRUD operations in ASP.NET MVC.</p>
        <p class="lead">Click on the "Product Manager" link in the navigation bar to get started.</p>
    </div>
</div>